<template>
	<div class="home">
		<div>
			<button>Add Task</button>
		</div>
		<div>
			<task-item />
			<b-tabs content-class="mt-3">
				<b-tab title="All" active>
					<task-item 
						v-for="(item, index) of taskList" 
						:key="'item ' + index"
						v-bind:taskItem="item"
					>

					</task-item>
				</b-tab>
			</b-tabs>
		</div>
	
	</div>
</template>

<script>
import TaskItem from '@/components/home/TaskItem.vue'

export default {
	name: 'HomeView',
	components: {
		TaskItem
	},
	data() {
		return {
			taskList: [
				{ id: 1, task: 'task 1', completed: false },
				{ id: 2, task: 'task 2', completed: true },
				{ id: 3, task: 'task 3', completed: false }
			]
		}
	},
	methods: {
		updateTask(updatedItem) {
			let index = this.taskList.findIndex(task => task.id == updatedItem.id);
			if (index != -1) {
				this.taskList[index] = updatedItem;
			}
		}
	},
	created() {

	}
}
</script>
