<template>
	<div>
		<input type="checkbox" :checked="taskItem.completed" />
		{{ taskItem.task }}
	</div>
</template>

<script>
export default {
	props: ['taskItem'],
	methods: {
		editItem(e) {
			let updateItem = this.taskItem;
			updateItem.completed = e.target.checked;
		}
	}
}
</script>

<style>

</style>