<template>
	<div class="home">

		<div class="row">
			<div class="col-6">asd</div>
			<div class="col-6">asd</div>
		</div>

		<h1>{{ message }}</h1>
		<button @click="click()">Click</button>
	</div>
</template>

<script>
export default {
	name: 'HelloWorld',
	data() {
		return {
			message: "Hello World"
		}
	},
	methods: {
		click() {
			this.message = "clicked"
		}
	}
}
</script>

<style>
</style>
